@model NTN_STORE.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "NTN Store - Giày thể thao chính hãng";
    Layout = "_Layout";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Giày chính hãng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Giao hàng nhanh</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Đổi trả 7 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Danh mục giày</span>
    </h2>
    <div class="row px-xl-5 pb-3">

        @foreach (var c in Model.Categories)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" asp-controller="Product" asp-action="Index" asp-route-categoryId="@c.Id">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="@Url.Content(c.ImageUrl ?? "~/img/cat-sneaker.png")" alt="@c.Name" />
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>@c.Name</h6>
                            <small class="text-body">@c.Products.Count sản phẩm</small>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Giày bán chạy</span>
    </h2>
    <div class="row px-xl-5">

        @foreach (var product in Model.FeaturedProducts)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }

    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/img/shoes-offer-big-1.png" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Giảm 30%</h6>
                    <h3 class="text-white mb-3">Giày chạy bộ</h3>
                    <a asp-controller="Product" asp-action="Index" asp-route-search="Giày chạy bộ" class="btn btn-primary">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/img/shoes-offer-big-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Siêu sale</h6>
                    <h3 class="text-white mb-3">Sneaker hot trend</h3>
                    <a asp-controller="Product" asp-action="Index" asp-route-search="Sneaker" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Giày mới về</span>
    </h2>
    <div class="row px-xl-5">

        @foreach (var product in Model.RecentProducts)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }

    </div>
</div>
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">

                @foreach (var brand in Model.Brands)
                {
                    <a asp-controller="Product" asp-action="Index" asp-route-brandId="@brand.Id">
                        <div class="bg-light p-4">
                            <img src="@Url.Content(brand.ImageUrl ?? "~/img/brand-nike.jpg")" alt="@brand.Name">
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>